{% extends "layout.njk" %}

{% block content %}

<section>
  <h1>Rocketseat</h1>
  <h2>Descrição</h2>
  <p>
    É uma escola de desenvolvimento voltada para a área Web. Ela vem
    crescendo a cada dia e formando cada vez mais pessoa para essa área
    incrível que é o desenvolvimento de web sites.
  </p>

  <h3>{{ about.subTitleH3 }}</h3>
  <ul>
    {% for li in about.listItems %}
      <li>{{ li.list }}</li>
    {% endfor%}
  </ul>
</section>

<footer>
  {% for link in about.links %}
    <a href="{{ link.link }}" target="_blank">{{ link.name }}</a>
  {% endfor %}

</footer>

 {% endblock %}